#footer {
  /*height: 35px;*/
  height: 5%;
  background-color: #000000;
  /*opacity: .5;*/
  /*position: absolute;*/
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: 'AdventPro-Regular';
  font-size: 25px;
  color: #ffffff;
  padding: 20px 20px 20px 20px;
}

.social-media {
  color: #DA2073;
}
